/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 mars 2021, 02:42:24
    Author     : nzima-ivan
*/

#grid-signup{
    -fx-background-image: url("driver-image.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 350 280;
    -fx-background-position: 20 220;
}
