/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 mars 2021, 02:42:24
    Author     : nzima-ivan
*/

#grid-signup{
    -fx-background-image: url("driver-image.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 350 280;
    -fx-background-position: 20 220;
}

#btn{
    -fx-background-color: linear-gradient(#2EC4B6 11.85%, #1A7068 104.8%);
    -fx-background-radius: 15;
    -fx-padding: 8;
    -fx-text-fill: #F7FDFC;
    -fx-font-size: 15px;
    -fx-cursor: pointer;
}
#precHyperlink:visited, #suivHyperlink:visited{
    -fx-text-fill: #1D7C73;
    -fx-text-alignment: center;
    -fx-font: "Roboto";
    -fx-border-color: transparent;
}
