/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 mars 2021, 03:36:16
    Author     : nzima-ivan
*/

#body{
    -fx-background-color: #F7FDFC;
}

.table-view {
    -fx-border-style: none;
    -fx-border-color: #F7FDFC;
}

.table-view .column-header-background{
    -fx-background-color: #F7FDFC;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-text-fill: #B8BDC7;
    -fx-alignment:BASELINE_LEFT;

}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-column{
    -fx-alignment:BASELINE_LEFT;
    -fx-padding: 10px;
 }
 .table-row-cell {
    -fx-cell-size: 50px;
}
.table-row-cell:hover {
    -fx-background-color: #F7FDFC;
    -fx-text-background-color: #2EC4B6;
}
.table-row-cell:odd{
    -fx-background-color: #F1F2F4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #F1F2F4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


#box{
    -fx-padding: 20;
    -fx-border-style: solid inside;
    -fx-border-radius: 10px;
    -fx-border-color: rgba(10,41,38,0.2);
}